#blogDetails {
  background-color: #fff;
  .blogHeaderImageContainer {
    background: url("https://w-dog.net/wallpapers/14/14/558002293736512/maija-girl-town-bokeh-wind-hair-jesse-herzog.jpg")
      no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      color: #fff;
    }
    .Author {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      img {
        height: 50px;
        width: 50px;
        border-radius: 25px;
        border: 2px solid #fff;
      }
      h6 {
        margin-left: 10px;
        color: #fff;
        border-bottom: 1px solid #eee;
      }
    }
  }
}
